.el-input.is-disabled .el-input__inner{
  color: #888;
}
.pagecontent-left-box {
  display: flex;
  flex-direction: column;
  width: calc(100% - 150px);
  flex-shrink: 0;
  padding-right: 2px;
  box-sizing: border-box;
  .el-dropdown {
    .el-button-group {
      display: flex;
      flex-direction: row;
      .el-button:first-child {
        width: 120px;
      }
    }
  }
}

.pagecontent-bottm {
  display: flex;
  //   justify-content: space-between;
  padding-top: 5px;
  .pagecontent-bottm-right {
    margin-left: 50px;
    .el-button {
      height: 40px;
    }
    display: flex;
  }
}
.saveTable-exe-card {
  box-shadow: 0 0 5px #e5e5e5;
  width: 100% !important;
  flex: 1;
  padding: 0 5px;
  margin-top: 10px;
  margin-bottom: 2px;
  box-sizing: border-box;
  flex-shrink: 0;
  .el-form-item {
    flex-shrink: 0;
    .el-form-item__label {
      flex-shrink: 0;
    }
  }
}
.saveForm-exe {
  flex-shrink: 0;
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .saveForm-exe-card:hover {
    box-shadow: 0px 0px 5px #4382df;
  }
  .saveForm-exe-card {
    box-shadow: 0 0 5px #e5e5e5;
    width: calc(100% - 6px) !important;
    flex: 1;
    padding: 0 5px;
    margin-top: 10px;
    margin-bottom: 2px;
    box-sizing: border-box;
    flex-shrink: 0;
    .el-form-item {
      flex-shrink: 0;
      .el-form-item__label {
        flex-shrink: 0;
      }
    }
  }
  .el-form-item {
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
  }
  .el-form-item__content {
    width: 100%;
    height: 50%;
    line-height: 25px;
    .el-input__icon {
      line-height: 25px;
    }
    .el-input {
      height: 25px;
      input {
        height: 25px;
      }
    }
  }
  .el-form-item__label {
    padding: 0;
    width: 100%;
    height: 50%;
    line-height: 25px;
    text-align: center;
  }
}
